body {
    margin: 0;
    padding: 0em 0.2em 0.2em 0.2em;
}

* {box-sizing: border-box}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    color: #000;
    position: sticky;
    top: 0em;
}

nav > div:nth-of-type(1) {
    display: flex;
    flex-flow: row nowrap;
}

nav > div:nth-of-type(1) > div:nth-of-type(1) {
    font-size: 2rem;
    margin: 0em 1em;
    cursor: pointer;
}

#root {
    padding: 1em;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 1em 1em; */
}

#card {
    padding: 1em;
    background: #eee;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
    margin: 1em 1em;
}

